<html>
    <head>
        <title>Categorie</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="asset/stile.css">
    </head>
    <body>
        <h1>Categorie</h1>
        <p>Usa pure la lista qui sotto per poter gestire le categorie</p>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Categoria</th>
                    <th><a href="?act=new" title="nuovo elemento">+</a></th>
                </tr>
            </thead>
            <tbody>
                <corpo_tabella/>
            </tbody>
        </table>
    </body>
</html>