<html>
    <head>
        <title><titolo/></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <intestazioni/>
    </head>
    <body>
        <div class='jumbotron'>
            <h1><titolo/></h1>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-4'>
                    <menu/>
                </div>
                <div class='col-8'>
                    <corpo/>
                </div>
            </div>
        </div>
    </body>
</html>